/* make the control panel float on 
 * top with readable buttons */
 .controls {
  position: absolute;
  z-index: 10000;
  padding: 10px;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
}

.controls > button {
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin-bottom: .2em;
  width: 100%;
  background-color: #333;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.controls > button:hover {
  background-color: #666;
}

.controls > button:active {
  background-color: #555;
}